In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [9]:
df_definitivo = pd.read_csv("data.csv", encoding='latin-1', sep=",", low_memory=False)
df_definitivo

,Unnamed: 0,precipitacion,CampaÃ±a,mes,Cultivo,Provincia,Departamento,idProvincia,idDepartamento,Sup_Sembrada,Sup_Cosechada,ProducciÃ³n,Rendimiento
0,0,56.2,1987/88,enero,Ajo,BUENOS AIRES,ARRECIFES,6,77,10,10.0,35,3500.0
1,1,56.2,1987/88,enero,Ajo,BUENOS AIRES,BAHIA BLANCA,6,56,10,10.0,30,3000.0
2,2,56.2,1987/88,enero,Ajo,BUENOS AIRES,BALCARCE,6,63,258,258.0,910,3527.0
3,3,56.2,1987/88,enero,Ajo,BUENOS AIRES,GENERAL PUEYRREDON,6,357,3,3.0,10,3333.0
4,4,56.2,1987/88,enero,Ajo,BUENOS AIRES,GENERAL RODRIGUEZ,6,364,3,3.0,10,3333.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
263841,263841,NaN,2019/20,NaN,Trigo total,BUENOS AIRES,TRENQUE LAUQUEN,6,826,42000,40800.0,106080,2600.0
263842,263842,NaN,2019/20,NaN,Trigo total,BUENOS AIRES,TRES ARROYOS,6,833,119000,119000.0,393100,3303.0
263843,263843,NaN,2019/20,NaN,Trigo total,BUENOS AIRES,TRES LOMAS,6,847,9100,8400.0,20980,2498.0
263844,263844,NaN,2019/20,NaN,Trigo total,BUENOS AIRES,VILLARINO,6,875,15000,13200.0,10790,817.0
263845,263845,NaN,2019/20,NaN,Trigo total,BUENOS AIRES,ZARATE,6,882,2500,2500.0,10000,4000.0

In [13]:
df_definitivo['Rendimiento'].replace('SD', '0', inplace=True)
df_definitivo.Rendimiento = df_definitivo.Rendimiento.astype(float)
df_definitivo["Sup_Cosechada"].replace('SD', '0', inplace=True)
df_definitivo["Sup_Cosechada"] = df_definitivo["Sup_Cosechada"].astype(float)

In [14]:
df_localidad = df_definitivo[df_definitivo.Departamento.isin(["SALTO", "CHACABUCO","ARENALES","ROJAS","LEANDRO N. ALEM","LINCOLN","JUNIN"])]
df_localidad

,Unnamed: 0,precipitacion,CampaÃ±a,mes,Cultivo,Provincia,Departamento,idProvincia,idDepartamento,Sup_Sembrada,Sup_Cosechada,ProducciÃ³n,Rendimiento
29,29,56.2,1987/88,enero,Alpiste,BUENOS AIRES,LEANDRO N. ALEM,6,462,50,50.0,50,1000.0
30,30,56.2,1987/88,enero,Alpiste,BUENOS AIRES,LINCOLN,6,469,170,160.0,190,1188.0
39,39,56.2,1987/88,enero,Alpiste,BUENOS AIRES,ROJAS,6,686,400,400.0,480,1200.0
70,70,56.2,1987/88,enero,Avena,BUENOS AIRES,CHACABUCO,6,210,2200,0.0,0,0.0
100,100,56.2,1987/88,enero,Avena,BUENOS AIRES,JUNIN,6,413,3500,300.0,600,2000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
263796,263796,NaN,2019/20,NaN,Trigo total,BUENOS AIRES,JUNIN,6,413,32000,32000.0,134400,4200.0
263800,263800,NaN,2019/20,NaN,Trigo total,BUENOS AIRES,LEANDRO N. ALEM,6,462,28000,27200.0,103360,3800.0
263801,263801,NaN,2019/20,NaN,Trigo total,BUENOS AIRES,LINCOLN,6,469,51000,49325.0,180036,3650.0
263825,263825,NaN,2019/20,NaN,Trigo total,BUENOS AIRES,ROJAS,6,686,30000,29750.0,130900,4400.0
263830,263830,NaN,2019/20,NaN,Trigo total,BUENOS AIRES,SALTO,6,714,35300,33718.0,144987,4300.0

In [18]:
df_localidad = df_localidad.rename(columns={'CampaÃ±a':'Campaña',
                                   'ProducciÃ³n':'Produccion', "mes":"Mes", "precipitacion":"Precipitacion mensual"})

In [21]:
df_localidad = df_localidad.drop(columns = ["Unnamed: 0"]) 
df_localidad

,Precipitacion mensual,Campaña,Mes,Cultivo,Provincia,Departamento,idProvincia,idDepartamento,Sup_Sembrada,Sup_Cosechada,Produccion,Rendimiento
29,56.2,1987/88,enero,Alpiste,BUENOS AIRES,LEANDRO N. ALEM,6,462,50,50.0,50,1000.0
30,56.2,1987/88,enero,Alpiste,BUENOS AIRES,LINCOLN,6,469,170,160.0,190,1188.0
39,56.2,1987/88,enero,Alpiste,BUENOS AIRES,ROJAS,6,686,400,400.0,480,1200.0
70,56.2,1987/88,enero,Avena,BUENOS AIRES,CHACABUCO,6,210,2200,0.0,0,0.0
100,56.2,1987/88,enero,Avena,BUENOS AIRES,JUNIN,6,413,3500,300.0,600,2000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
263796,NaN,2019/20,NaN,Trigo total,BUENOS AIRES,JUNIN,6,413,32000,32000.0,134400,4200.0
263800,NaN,2019/20,NaN,Trigo total,BUENOS AIRES,LEANDRO N. ALEM,6,462,28000,27200.0,103360,3800.0
263801,NaN,2019/20,NaN,Trigo total,BUENOS AIRES,LINCOLN,6,469,51000,49325.0,180036,3650.0
263825,NaN,2019/20,NaN,Trigo total,BUENOS AIRES,ROJAS,6,686,30000,29750.0,130900,4400.0
263830,NaN,2019/20,NaN,Trigo total,BUENOS AIRES,SALTO,6,714,35300,33718.0,144987,4300.0